body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	line-height:1.5em;
}
body {
	background-color: #FFF;
}

#vetrina {
   
  
}
#vetrina_td {
    border: 1px solid;
    text-align: center;
    border-color: #4a5deb;
    background-color: #FFF;
}
#vetrina_td:hover {
    border: 1px solid;
    background-color: #cccccc;
    border-color: #4a5deb;    
}

#menu {
    padding-top: 22px;
    color: #FFF;
    font-weight: bold;
    
 
}
#menu a{
    color:#FFF;
    text-decoration: inherit;
}
#menu a:hover{
    color:#F4F4F4;
    text-decoration: underline;
    
    
 
}

#admin_menu {
   
    background-color: #FFF;
    font-weight: bold;
  
}
#admin_td {
    border: 1px solid;
    text-align: center;
    border-color: #4a5deb;    
}

#admin_td:hover {
    border: 1px solid;
    background-color: #cccccc;
    border-color: #4a5deb;    
}

#panel_menu {
   
    background-color: #FFF;
    font-weight: bold;
  
}
#panel_td {
    border: 1px solid;
    text-align: center;
    border-color: #4a5deb;    
}
#panel_td:hover {
    border: 1px solid;
    background-color: #cccccc;
    border-color: #4a5deb;    
}




#navigateproducts {
   
    font-weight: bold;
  
}
#navigateproducts_td {
    border: 1px solid;
    text-align: center;
    border-color: #4a5deb;    
}
#navigateproducts_td:hover {
    border: 1px solid;
    background-color: #cccccc;
    border-color: #4a5deb;    
}
#navigateproducts_td:after {
    border: 1px solid;
    background-color: #FFF;
    border-color: #4a5deb;    
}

a {
	font-size: 14px;
	color: #03F;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #03F;
}
a:hover {
	text-decoration: none;
	color: #000;
}
a:active {
	text-decoration: none;
	color: #03F;
}
#pageHeader {
	border:#999 1px solid;
	border-bottom:none;
	background-image: url(header.jpg);
        background-repeat: no-repeat;
        width:900px;
        height:150px;
      
}

#pageContent {
	border:#999 1px solid;
	border-bottom:none;
	background-color:#F4F4F4;
	width:900px;
     //   height: 500px;

}
#pageFooter {
	border:#999 1px solid;
	background-color:#4a5deb;
	width:900px;
        color:#FFF;
        font-weight: bold;
	
}
#pageFooter a {
	color:#FFF;
	
}
#pageFooter a:hover{
    color:#F4F4F4;
    text-decoration: underline;
    
    
 
}
#totale {
    border-top: 1px solid;
    border-top-color: #000;
    
    
}
#carrello_td{
    border-top: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    border-right: 1px #CCC solid;
   }
#titolo_cart{
    border-right: 1px #CCC solid;
   }
   
   #selected{
       background-color: yellow;
       
   }
   #purchases:hover{
       background-color: #CCC;
       
   }
   #trans{
    border-right: 1px #CCC solid;
   }
   #trans_tr:hover{
       background-color: #CCC;
   }
   #trans_selected{
       background-color: #CCC;
   }